.header {
  background-color: #003865;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin-bottom: 1rem;
}

.header-logo-container,
.header-options-link {
  text-align: center;
  padding: 11.200px 1rem;
}

.header-logo {
  width: auto;
  height: 3.7rem;
}

.header-options {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.header-options-item {
  text-align: center;
  min-width: 130px;
  width: 33%;
  margin: 0 auto;
}

.header-options-link {
  color: white;
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-size: .9rem;
  font-weight: 900;
  width: 100%;
  vertical-align: middle;
  line-height: 14.4px;
  position: relative;
}

.header-options-link.active {
  border-bottom: 2px solid #00C1D4;
}

.dropdown::after {
  display: block;
  width: 0;
  height: 0;
  border: inset 6px;
  content: '';
  border-bottom-width: 0;
  border-top-style: solid;
  border-color: #ffffff transparent transparent;
  right: 5px;
  left: auto;
  margin-top: -3px;
  position: absolute;
  top: 50%;
}

.form-container {
  background-color: #003865;
  padding: 2rem 1rem;
  margin: 0 15px 20px;
}

.form-title {
  color: white;
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-size: 1rem;
  line-height: 22.4px;
  text-align: center;
}

.input-label {
  color: white;
  font-weight: 700;
  line-height: 28.8px;
}

.input-container {
  display: flex;
  background-color: white;
  height: 50px;
  align-items: center;
  position: relative;
  border-radius: 3px;
}

.input-container .input-icon {
  width: 55px;
  font-size: 20px;
  color: rgb(153, 153, 153);
  text-align: center;
  position: absolute;
}

.input-container input {
  background-color: transparent;
  color: #0a0a0a;
  outline: none;
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  width: 100%;
  height: 100%;
  padding-left: 55px;
  border-radius: 3px;
  border: 1px solid #cacaca;
  box-shadow: 0 1px 2px rgba(10, 10, 10, 0.1)
}

input::placeholder {
  color: rgb(202, 202, 202);
}

input:focus {
  outline: none;
  background-color: #fefefe;
  box-shadow: 0 0 5px #cacaca;
  transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
}

.form-signin-button {
  width: 100%;
  background-color: transparent;
  border: 2px solid white;
  margin-top: 1rem;
  margin-bottom: .5rem;
  color: white;
  height: 50px;
  border-radius: 3px;
  font-size: .8rem;
  text-align: center;
  padding: .85rem 1rem;
}

.signin-button-icon {
  display: inline-block;
}

.forgot-password-link {
  color: white;
  width: 100%;
  text-align: center;
  display: inline-block;
  font-size: .8rem;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
}

.tips-container {
  background-color: #003865;
  padding: 30px;
  margin: 0 15px;
  color: white;
  margin-bottom: 256px;
}

.tips-title {
  font-weight: 900;
  font-size: .9rem;
  line-height: 1.3;
  letter-spacing: 1px;
  color: white;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.tips-title .icon-shield {
  font-size: 26px;
}

.tips-description {
  font-family: 'Open Sans', sans-serif;
  font-size: .8rem;
  line-height: 1;
  letter-spacing: 1.2px;
  font-weight: 600;
  margin-bottom: 16px;
}